@font-face {
    font-family: skyfont;
    src: url(./thisfont.ttf);
}

body {
    overflow: hidden;
}

.vida,.shield,.bebida,.comida{
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

#contvida{
    position: absolute;
    font-family: skyfont;
    color: rgba(255, 255, 255, 0.521);
    text-shadow: 1px 1px #000000;
    font-size: 1.10vh;
    bottom: 0.8%;
    left: 1.6%;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 4px;
    padding: 1.9px;
    box-shadow: 1px 1px 3px #000000;
}

#health-icon{
    position: absolute;
    color: rgba(255, 0, 0, 0.521);
    text-shadow: 1px 1px 3px #000000;
    font-size: 1.60vh;
    bottom: 2.5%;
    left: 1.7%;
}

#contshield{
    position: absolute;
    font-family: skyfont;
    color: rgba(255, 255, 255, 0.521);
    text-shadow: 1px 1px #000000;
    font-size: 1.10vh;
    bottom: 0.8%;
    left: 8.30%;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 4px;
    padding: 1.9px;
    box-shadow: 1px 1px 3px #000000;
}

#shield-icon{
    position: absolute;
    color: rgba(0, 60, 255, 0.521);
    text-shadow: 1px 1px 3px #000000;
    font-size: 1.60vh;
    bottom: 2.5%;
    left: 8.4%;
}

#contfood{
    position: absolute;
    font-family: skyfont;
    color: rgba(255, 255, 255, 0.521);
    text-shadow: 1px 1px #000000;
    font-size: 1.10vh;
    bottom: 0.8%;
    left: 6.05%;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 4px;
    padding: 1.9px;
    box-shadow: 1px 1px 3px #000000;
}

#food-icon{
    position: absolute;
    color: rgba(255, 145, 0, 0.521);
    text-shadow: 1px 1px 3px #000000;
    font-size: 1.60vh;
    bottom: 2.5%;
    left: 6.1%;
}

#contwater{
    position: absolute;
    font-family: skyfont;
    color: rgba(255, 255, 255, 0.521);
    text-shadow: 1px 1px #000000;
    font-size: 1.10vh;
    bottom: 0.8%;
    left: 3.79%;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 4px;
    padding: 1.9px;
    box-shadow: 1px 1px 3px #000000;
}

#water-icon{
    position: absolute;
    color: rgba(0, 195, 255, 0.521);
    text-shadow: 1px 1px 3px #000000;
    font-size: 1.60vh;
    bottom: 2.5%;
    left: 4%;
}